.mapboxgl-ctrl-attrib-inner {
  display: none;
}
.mapboxgl-ctrl-attrib-button {
  display: none;
}
.mapboxgl-ctrl-logo {
  display: none;
}
.mapboxgl-compact {
  display: none;
}

.mapboxgl-popup-content {
  padding: 0;
  border-radius: 10px;
}

.mapboxgl-popup-close-button {
  display: none;
}

.dark .mapboxgl-popup-tip {
  border-top-color: #333333;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}

.mapboxgl-ctrl-group {
  margin-right: 20px !important;
}
